:root[data-theme='dark'] {
	--hr-color: white;
	--standard-background: radial-gradient(circle, rgba(60, 60, 60, 1) 0%, rgba(34, 34, 34, 1) 80%);
	--app-body-background: rgb(44, 44, 44);
	--app-body-border: rgba(50, 50, 50, 0.9);
	--text-color: white;
	--primary-color: rgb(80, 80, 80);
	--card-info-background: rgb(100, 100, 100);
	--addItem-btn-color: white;
	--addItem-dropdown-color: rgb(80, 80, 80, 0.5);
}

:root[data-theme='light'] {
	--hr-color: rgba(10, 10, 10, 0.5);
	--standard-background: radial-gradient(
		circle,
		rgba(220, 220, 220, 1) 30%,
		rgba(190, 190, 190, 1) 80%
	);
	--app-body-background: rgb(230, 230, 230);
	--app-body-border: rgb(240, 240, 240);
	--text-color: black;
	--primary-color: rgb(150, 150, 150);
	--card-info-background: rgb(180, 180, 180);
	--addItem-btn-color: rgba(255, 255, 255, 0.8);
	--addItem-dropdown-color: rgb(150, 150, 150, 0.5);
}

@media screen and (min-width: 1px) {
	html {
		font-size: 8.5px;
	}
	.main__filters__search {
		height: 3rem;
		width: 17rem;
	}
	.main__filters__search__searchbar {
		height: 2.5rem;
		width: 12rem;
	}
	.main__title__dropdown span {
		font-size: 12px;
	}
	.app__body {
		height: 90vh;
		width: 90vw;
	}
	.itemCard-text {
		font-size: 12px;
	}
	.itemCard-arrow {
		z-index: 1;
		font-size: 1px;
	}
}

@media screen and (min-width: 300px) {
	html {
		font-size: 8.5px;
	}
	.main__filters__search {
		height: 3rem;
		width: 18rem;
	}
	.main__filters__search__searchbar {
		height: 2.5rem;
		width: 13rem;
	}
	.main__title__dropdown span {
		font-size: 12px;
	}
	.app__body {
		height: 90vh;
		width: 90vw;
	}
	.itemCard-text {
		font-size: 17px;
	}
	.itemCard-arrow {
		z-index: 1;
		font-size: 1px;
	}
}

@media screen and (min-width: 520px) {
	html {
		font-size: 13px;
	}
	.main__filters__search {
		height: 3rem;
		width: 18rem;
	}
	.main__filters__search__searchbar {
		height: 2.5rem;
		width: 14rem;
	}
	.main__title__dropdown span {
		font-size: 12px;
	}
	.app__body {
		height: 85vh;
		width: 80vw;
	}
	.itemCard-text {
		font-size: 17px;
	}
	.itemCard-arrow {
		font-size: 17px;
		z-index: 1;
	}
}

@media screen and (min-width: 900px) {
	html {
		font-size: 14px;
	}
	.main__filters__search {
		height: 3rem;
		width: 18rem;
	}
	.main__filters__search__searchbar {
		height: 2.5rem;
		width: 14rem;
	}
	.main__title__dropdown span {
		font-size: 12px;
	}
	.app__body {
		height: 85vh;
		width: 70vw;
	}
	.itemCard-text {
		font-size: 20px;
	}
	.itemCard-arrow {
		font-size: 17px;
		z-index: 1;
	}
}

@media screen and (min-width: 1840px) {
	html {
		font-size: 16px;
	}
	.main__filters__search {
		height: 3rem;
		width: 18rem;
	}
	.main__filters__search__searchbar {
		height: 2.5rem;
		width: 14rem;
	}
	.main__title__dropdown span {
		font-size: 20px;
	}
	.app__body {
		height: 85vh;
		width: 70vw;
	}
	.itemCard-text {
		font-size: 25px;
	}
	.itemCard-arrow {
		font-size: 17px;
		z-index: 1;
	}
}

.placeCenter {
	display: flex;
	place-content: center;
}

/* hides arrows on number inputs */

input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
input[type='number'] {
	-moz-appearance: textfield;
	appearance: textfield;
}

hr {
	border-color: var(--hr-color);
}

/* progress bar */
#nprogress .bar {
	height: 3px !important;
}

/* navbar */
.navbarLink {
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
}

/* the index page */
.app {
	display: grid;
	place-items: center;
	height: 100vh;
	background: var(--standard-background);
}

.app__body {
	display: flex;
	box-shadow: -1px 4px 30px -2px rgba(0, 0, 0, 0.75);
	border-radius: 13px;
	border-width: 3px;
	border-style: solid;
	border-radius: 13px;
	background-color: var(--app-body-background);
	color: var(--text-color);
	border-color: var(--app-body-border);
}

/* index page list */
.main {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow-x: hidden;
}

.main__title {
	padding-top: 20px;
	text-align: center;
	display: grid;
	place-items: center;
	place-content: center;
}

.main__filters {
	display: flex;
	place-items: center;
	place-content: center;
	margin-top: 30px;
}

.main__filters__search {
	border-radius: 15vw;
	background-color: var(--primary-color);
	display: flex;
	place-content: center;
}

.main__filters__search__searchbar {
	border-radius: 14vw;
	border: none;
	outline-width: 0;
	padding-inline-start: 10px;
	padding-inline-end: 10px;
}

/* addItem dropdown */

.main__title__dropdown {
	width: 100vw;
	height: 2rem;
	display: flex;
	flex-direction: column;
	place-content: center;
	cursor: pointer;
	margin-bottom: 0px;
	padding-bottom: 0px;
	background-color: var(--primary-color);
}

.navbar-toggler-icon {
	z-index: 2;
	color: white;
}

.main__title__dropdown:hover {
	background-color: var(--addItem-dropdown-color);
}

.main__title__dropdown span {
	padding-bottom: 3vh;
}

.main__title__dropdown__inner {
	background-color: var(--primary-color);
}

.dropdown__addItem__form {
	display: grid;
	place-items: center;
	margin-left: 10px;
	margin-right: 10px;
}

.dropdown__addItem__input {
	margin-top: 1vh;
	margin-bottom: 1vh;
	display: flex;
	align-items: center;
	height: 39px;
	padding: 10px;
}

.dropdown__addItem__input__btn {
	margin-top: 20px;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	height: 39px;
	border-radius: 5rem;
	padding: 10px;
	background-color: var(--addItem-btn-color);
}

.dropdown__addItem__input__field {
	border: none;
	border-radius: 15px;
	outline-width: 0;
	margin-left: 10px;
	padding-inline-start: 10px;
	padding-inline-end: 10px;
	height: 2.15rem;
	width: 13rem;
}

.main__body {
	overflow-y: auto;
	overflow-x: hidden;
	margin-bottom: 10px;
}

/* the item cards */
.main__card__title {
	font-size: 1.15rem;
	background-color: var(--primary-color);
}

.main__card__urgent {
	display: flex;
	align-items: center;
	padding-top: 0.5vh;
	padding-left: 1vw;
}

.main__card__info {
	font-size: 1.1rem;
	background-color: var(--card-info-background);
}

/* pages */

.signinPage {
	padding-top: 2rem;
	overflow: hidden;
	height: 100vh;
	background: var(--standard-background);
	color: var(--text-color);
}

.signupPage {
	padding-top: 2rem;
	overflow: hidden;
	height: 100vh;
	background: var(--standard-background);
	color: var(--text-color);
}

.contactPage {
	height: 100vh;
	background: var(--standard-background);
	color: var(--text-color);
}

.updatePage {
	padding-top: 2rem;
	height: 100vh;
	background: var(--standard-background);
	color: var(--text-color);
}

.changePassword {
	background-color: rgba(0, 0, 0, 0);
	border-width: 2px;
}

.forgotPasswordPage {
	padding-top: 3rem;
	height: 100vh;
	background: var(--standard-background);
	color: var(--text-color);
}

.resetPasswordPage {
	padding-top: 3rem;
	height: 100vh;
	background: var(--standard-background);
	color: var(--text-color);
}

.activateAcountPage {
	padding-top: 3rem;
	height: 100vh;
	background: var(--standard-background);
	color: var(--text-color);
}

/* settings dropdown */

.dropbtn {
	font-size: 16px;
	border: none;
	width: fit-content;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	place-content: center;
	background-color: var(--primary-color);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: var(--text-color);
	padding: 10px;
	display: block;
}

.dropdown-content a:hover {
	background-color: var(--card-info-background);
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: var(--app-body-background);
}

/* The popup (background) */
.popup {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 3;
}

/* popup Content */
.popup-content {
	background-color: var(--app-body-background);
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: fit-content;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
